@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --animate-gradient: gradient 6s ease infinite;
  --breakpoint-xs: 400px;
  --animate-dash: dash 2s linear infinite;
  --animate-dash-reverse: dash 1s linear infinite reverse;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }  
}

@custom-variant hover (&:hover);

*,
*::before,
*::after {
  box-sizing: border-box;
  /* box-sizing: content-box; */
  /* outline: 2px solid lime; */
}

:root {
  --background: #0A0118;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.clip-trap{
  clip-path: polygon(45% 10%, 60% 1%, 100% 15%, 100% 100%, 0 100%, 0 15%, 30% 0);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
/* 
.myButton {
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;  
  position: relative;
} */

.myButton::after, .myButton::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(from var(--angle), rgba(28, 118, 253), transparent, #5821f0, transparent);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 10px;
  border-radius: 10px;
  animation: 4s customspin linear infinite;
}

.myButton::before {
  filter: blur(1.5rem);
  opacity: 0.9;
}

.purplebg::after, .purplebg::before{
  --angle: 0deg;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 16px;
  background: linear-gradient(var(--angle), rgba(28, 118, 253, 0.9), #5821f04f, transparent 50%); 
  animation: 12s customspin linear infinite;
}

.purplebg::before {
  filter: blur(1.5rem);
  opacity: 0.3;
}

@keyframes customspin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;  
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -9.24;
  }
}

.card1::after, .card1::before {
  animation: 8s customspin linear infinite;
}

.card2::after, .card2::before {
  animation: 12s customspin linear infinite reverse;
}

.card3::after, .card3::before {
  animation: 10s customspin linear infinite;
}

.card4::after, .card4::before {
  animation: 14s customspin linear infinite reverse;
}
